* {
  margin: 0;
  padding: 0;
}



header {
  display: flex;
  background-color: red;
}

header > p {
  margin-left: auto;
  padding: 1%;
  font-size: 1.1em;
}

main {
  display: grid;
  grid-template-columns: repeat(2, 40%);
  grid-template-rows: repeat(3, auto);
  grid-gap: 6px;
  justify-content: center;
}
.note {
  width: 40%;
}

.note > header {
  background-color: yellow;
  padding: .3em;
}

.note > main  {
  cursor: pointer;
}

.note > header button {
  border-radius: 100%;
  padding: .2rem;
  margin-left: 1%;
  cursor: pointer;
}

.note > main {
  background-color: blue;
}

